<head>
  <title>Create Update</title>
</head>

<body>

<%= semantic_form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field" style="padding-bottom:10px;">
    <%= f.label :message %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div>
  
  <br>
  
  <div class="actions" style="text-align:center;">
    <%= f.submit class:"darkbluebutton"%>
  </div>
  
<% end %>
</body>