
<head>
  <%= stylesheet_link_tag    'posts', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
<div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="thumbnail">
      <%= image_tag @post.picture_url.to_s  %>
      <br>
      <div class="caption">
        <strong style="font-size:3.5em; font-family: 'Anton', sans-serif; "><%= @post.title %></strong>
        <br>
        <div style="text-align:left; padding: 10px 5px 10px 5px;"><%= @post.description %></div>
        <br>
        <div>
          <a href= '<%= @post.signup_link %>'>Signup Here!</a><br>
          <% if @post.contact_number.length > 0 %>
            <div>Have any questions? For more details contact us @ <%= @post.contact_number %>!</div>
          <% end %>
        </div>
        <br>
        <strong style="font-family: 'Lato', sans-serif;"><%= @post.host %>
        </strong>
        <br>
        <span class="label label-info"><%= @post.tag %></span>
      </div>
      <br>
      <% if user_signed_in? && @post.user_id == current_user.id %>
        <%= button_to "Edit Post!", edit_post_path, class:"btn btn-info", method: :get %>
      <% end %>
      <br>
      <% if user_signed_in? %>
        <%= button_to "Add to Calendar!", add_post_path, class:"btn btn-primary" %>
        <br>
      <% end %>
      <% if @friends && @friends.length > 0 %>
        <div style="color:white; text-align:center; padding-left:0px;">Friends that are also going to this event:</div>
        <div style="color:white; text-align:center; padding-left:0px;">
        <% @friends.take(3).each do |friend| %>
          <p><%= friend["name"] %></p>
          <p><%= image_tag friend["picture"]["data"]["url"] %></p>
        <% end %>
      <% end %>
      <!--<div class="fb-comments" data-href="https://orbital-soraares.c9users.io/posts" data-width="700" data-numposts="5" style="background:white;" data-href="https://orbital-soraares.c9users.io/posts/27"></div>-->
      <div class="fb-comments" data-href=<%= @url %> data-numposts="5" style="background:white;"></div>
      <br><br>
      <%= social_share_button_tag(@post.title, :allow_sites => %w(twitter facebook google_plus tumblr pinterest email linkedin wechat reddit hacker_news telegram)) %>
      <br>
    </div>
  </div>
</body>

<!--<div class="col-sm-3">-->
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>Event Title</th>-->
<!--        <th colspan="3"></th>-->
<!--      </tr>-->
<!--    </thead>-->
  
<!--    <tbody>-->
<!--      <%# @posts.each do |po| %>-->
<!--        <tr>-->
<!--          <td><%#= po.title %></td>-->
<!--          <td><%#= link_to 'Show', po, class:"btn btn-primary" %></td>-->
<!--          <td><%#= link_to 'Delete', remove_post_path(po.id), method: :post, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

