<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--<%# if notice %>-->
<!--  <p class="alert alert-success"><%#= notice %></p>-->
<!--<%# end %>-->
<!--<%# if alert %>-->
<!--  <p class="alert alert-danger"><%#= alert %></p>-->
<!--<%# end %>  -->

<% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a><%= link_to "Vento", posts_path, method: :get, class:"navbar-brand" %></a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to new_post_path, method: :get do %>
          <%= image_tag "pencil-with-rubber.png", size: "20" %>
          <% end %>
        </li>
        <li style="padding: 0 0 0 0;">
          <%= link_to current_user,  method: :get do %>
          <%= image_tag "small-calendar.png", size: "20" %>
          <% end %>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <%#= image_tag "user-avatar.png", size: "20" %>
          <%= image_tag "login (1).png", size: "20" %>
          <%#  = image_tag "power-button.png", size: "20" %>&nbsp; Logout
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  
<% else %>
   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a><%= link_to "Vento", posts_path, method: :get, class:"navbar-brand" %></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_user_session_path do %>
            <%= image_tag "login (2).png", size: "20" %>&nbsp; Login
          <% end %> 
        </li>
      </ul>
    </div>
  </nav>
  
<% end %>

<%= yield %>

</body>
</html>
